:root {
	--background-prim: rgb(43, 43, 43);
	--accent: rgb(212, 0, 255);
	--font-color: white;
}

body {
	padding: 0;
	margin: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background: var(--background-prim);
	color: white;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.screen {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.title {
	font-size: 55px;
	margin-bottom: 15px;
}

button {
	font-size: 28px;
	background: var(--accent);
	border-radius: 200px;
	border: 0;
	color: var(--font-color);
	padding: 10px;
}

.buttons button {
	margin-left: 5px;
	margin-right: 5px;
}
